{% extends "base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "chat/css/chat_page.css" %}">
{% endblock css %}

{% block body %}
	<div class="back-container">
		<div class="container-fluid front-container">
			<div class="back-top"></div>
			<div class="back-main"></div>
		</div>

		<div class="container front-container1">
			<div class="row chat-top">
				<div class="col-sm-4 border-right border-secondary top-left-profile">
					<div class="profile">
						<img src="{{request.user.userprofile.avatar}}" alt="" class="profile-image img-fluid">
						<div class="profile-details">
							<span class="ml-2 text-light fs-5">{{request.user.first_name}} {{request.user.last_name}}</span>
							<small class="about text-secondary">{{request.user.userprofile.about}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 contacts">
					<div class="contact-table-scroll">
						<table class="table table-secondary table-hover">
							<tbody>
								{% for friend in friend_profiles %}
								<tr class='users'>
									<td><img src="{{friend.userprofile.avatar}}" alt="" class="profile-image rounded-circle">
									</td>
									{% if user.userprofilemodel.online_status %}
									<td><a style="color: green" id="{{user.username}}_status" href="">{{friend.first_name}} {{friend.last_name}}</a></td>
									{% else %}
									<td>
										<a id="{{user.username}}_status" class="friend_card" href="{% url "chat_room" friend.username friend.id %}">
											<div class="friend-name text text-dark fs-5">{{friend.first_name}} {{friend.last_name}}</div>
											<div class="friend-username text text-secondary fs-sm">{{friend.username}}</div>
										</a>
									</td>
									{% endif %}
								</tr>
								{% endfor %}
	
								<!-- end -->
							</tbody>
						</table>
					</div>	
				</div>
			</div>
		</div>


	</div>

{% endblock body %}

{% block js %}
	{% comment %} <script src="{% static 'chat/js/websocket.js' %}"></script> {% endcomment %}
{% endblock js %}