{% extends "base.html" %}
{% load static %}
{% block title %}Contacts{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{% static "chat/css/contacts.css" %}">
{% endblock css %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="col-md-5">
				<form action="" method="get">
					<div class="form-group d-flex gap-2 mb-4">
						<input type="text" name="friends" class="form-control search-input" id="contact-input" placeholder="Search Contacts">
						<button type="submit" class="btn btn-primary d-inline">Search <i class="bi bi-search"></i> </button>
					</div>
				</form>
			</div>
		</div>

		{% include "components\contact_miniNav.html" %}

		<div class="row main-content">
				<ul class="list-group user-card">

					{% comment %} Already Friends {% endcomment %}

					{% for friend in friends %}
					{% comment %} <div class="ditails">
						<h1>{{ friend.user_1.username }}'s Profile</h1>
						<p>Avatar: {{ friend.user_1.userprofile.avatar.file_path }}</p>
						<p>About: {{ friend.user_1.userprofile.about }}</p>
						<p>Phone: {{ friend.user_1.userprofile.phone }}</p>
						<p>Country: {{ friend.user_1.userprofile.country }}</p>
						<p>Birth Date: {{ friend.user_1.userprofile.birth_date }}</p>
					
						<h1>{{ friend.user_2.username }}'s Profile</h1>
						<p>Avatar: {{ friend.user_2.userprofile.avatar.file_path }}</p>
						<p>About: {{ friend.user_2.userprofile.about }}</p>
						<p>Phone: {{ friend.user_2.userprofile.phone }}</p>
						<p>Country: {{ friend.user_2.userprofile.country }}</p>
						<p>Birth Date: {{ friend.user_2.userprofile.birth_date }}</p>
					</div> {% endcomment %}

						<li class="list-group-item bg-secondary item-list">
							<div class="item-details">
								<a href="" class="link-underline link-underline-opacity-0 d-flex gap-2">
									<div class="user-details">
										{% if friend.user_1 == request.user %}
											<img src="{{friend.user_2.userprofile.avatar.file_path}}" alt="" class="img-fluid avatar-image" style="width: 100px; height: 100px;" >
											<div class="details">
												<span class="profile-name text-light ">{{ friend.user_2.first_name }} {{friend.user_2.last_name}}</span>
												<span class="profile-username text-secondary-emphasis">{{friend.user_2.username}}</span>
												<span class="profile-about text-light">{{friend.user_2.userprofile.about}}</span>
												{% comment %} <span class="profile-about text-secondary">{{friend.user_2.username}}</span> {% endcomment %}
											</div>
										{% else %}
											<img src="{{friend.user_1.userprofile.avatar.file_path}}" alt="" class="img-fluid avatar-image" style="width: 100px; height: 100px;" >
											<div class="details">
												<span class="profile-name text-light ">{{ friend.user_1.first_name }} {{friend.user_1.last_name}}</span>
												<span class="profile-username text-secondary-emphasis">{{friend.user_1.username}}</span>
												<span class="profile-about text-secondary">{{ friend.user_1.userprofile.about }}</span>
											</div>
										{% endif %}
									</div>
								</a>
							</div>
							<div class="item-action text-end">
								{% if friend.status == "accepted" %}
									<span class="badge text-bg-success text-end">Friend</span> 
								{% elif  friend.status == "pending" %}
									{% if  request.user == friend.user_2 %}
									<a href="" class="btn btn-success accept-friend-btn" data-user-id="{{ friend.user_1.id }}">Accept</a>
									<a href="" class="btn btn-danger reject-friend-btn" data-user-id="{{ friend.user_1.id }}">Reject</a>
									{% else %}
										<span class="badge text-bg-warning">Pending</span>
									{% endif %}
								{% elif  friend.status == "blocked" %}
									<span class="badge badge-danger">Blocked</span> 
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>
		</div>
	</div>

{% endblock body %}




{% block js %}
	<script src="{% static "chat/js/contacts.js" %}"></script>
{% endblock js %}