{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'chat/css/email_verification.css' %}">
{% endblock css %}

{% block body %}
  <div class="container pass-form">
    <h2>Forgot Username</h2>
    <form action="" method="post" class="forgot-pass-form">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% for error in field.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock body %}