{% extends "base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "chat/css/email_verification.css" %}">
{% endblock css %}

{% block body %}	
	<div class="container">
		<p class="fs-4 fw-semibold">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
		<p class="fs-6 fw-light text-secondary">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
	</div>
{% endblock body %}