
body{
	font-family: 'Roboto', sans-serif;
	background-color: #191919;
	color: #fff;
	/* cursor: none; */
}

.fade-out {
    opacity: 0;
    transform: translateY(40px);
	filter: blur(10px);
	/* background-color: #000000; */
}

.fade-in {
    transition-property: opacity, transform, filter, background;
	transition-timing-function: ease-in-out;
	transition-duration: 200ms;
}

.cursor {
	position: absolute;
    /* width: 5px; */
    /* height: 5px; */
    border-radius: 50%;
    box-shadow: 0px 0px 8px 8px rgb(255 250 184 / 58%), 0px 0px 20px 14px rgb(255 255 255 / 67%);
    pointer-events: none;
    transition: transform .1s ease;
    display: none;
}

a.nav-link{
	color: #fff;
}
a.nav-link:hover{
	color: #f60e0e !important;
	scale: 1.1;
	transition: scale 0.1s ease;
}

.nav-container{
	background-color: #283e5e4d;
	padding: .3em 0;
	position: sticky;
	top: 0;
	z-index: 100;

}

.nav-items{
	justify-content: space-evenly;
}

.main-nav-item{
	column-gap: 2rem;
	align-items: center;
}

.auth-items{
	column-gap: 2rem;
	row-gap: 1rem;
	/* width: fit-content; */
	align-items: center;
}

.active{
	color: #e1471c !important;
}